# Laravel specific
/vendor/
/node_modules/
/public/storage/
/public/hot/
/public/*.js
/public/*.css
/public/mix-manifest.json
/public/web.config

# Build files
/public/build/

# Laravel Mix
/public/mix-manifest.json
/public/mix/

# Testing
/phpunit.xml
/tests/

# Homestead/Vagrant
/.vagrant/
Homestead.json
Homestead.yaml

# IDE specific
/.idea/
/.vscode/
/.phpstorm.meta.php

# Composer specific
/composer.lock
/composer.phar

# Application specific
.env
.env.backup
.env.*.local

# Logs and errors
/storage/*.log
/storage/logs/*.log
/storage/logs/*.log.*
!/storage/logs/.gitkeep
!/storage/framework/
!/storage/app/
!/storage/debugbar/

# Miscellaneous
npm-debug.log*
yarn-error.log*
